 <section class="catalogs">
        <div class="container option">
<div class="catalogs__option">
                
  {% for category in categories %}       
                <div class="catalogs__item">
                    <a href="{{ category.href }}">
                        <div class="catlogs__image">
                            <img src="{{category.image_full}}">
                        </div>
                        <div class="catalogs__title">
                            <img src="{{category.image}}" alt="">
                            <p>{{ category.name }}</p>
                        </div>
                    </a>
                </div>
   {% endfor %}
            </div>
        </div>
        </div>
</section>