
 <div class="catalogMore__filters">
                    Фильтровать по:
                   
                    {% for filter_group in filter_groups %} 
                     <select>
                        <option label="{{ filter_group.name }}" value="1" selected disabled>{{ filter_group.name }}</option>
                        {% for filter in filter_group.filter %}
                        <option id="fillter">  {{ filter.name }}</option>
                      {% endfor %}
                       </select>
                       {% endfor %}
                      
   
</div>
<script type="text/javascript"><!--
$('#fillter').on('click', function() {
	filter = [];

	$('input[name^=\'filter\']:checked').each(function(element) {
		filter.push(this.value);
	});

	location = '{{ action }}&filter=' + filter.join(',');
});
//--></script> 

