   <section class="feedback">
        <div class="container option">
            <div class="feedback-form">
                <div class="feedback-description">
                    <h4>Хотите быть в курсе всех предложений от МЕДИЛЮКС</h4>
                    <p>подпишитесь на нашу <br> e-mail рассылку</p>
                </div>
                <div class="feedback-input">
                    <input type="text" placeholder="Введите имя...">
                    <input type="text" placeholder="Введите e-mail...">
                </div>
                <div class="feedback-button">
                    <button>Подписаться</button>
                </div>
            </div>

        </div>
    </section>